{{#if articles}}
	{{#each articles}}

	<div class="col s12" id='card{{id}}'>

	    <div class="card horizontal">
		    
	        <div class="card-content headline article-content">
	          	<h4>{{title}}</h4>
	          	<a href={{link}} target="_blank">{{link}}</a>
	        </div>
	        <div class="card-action card-stacked">
	        	<a data-article-id={{id}} class="favorite" data-favorited="{{favorited}}">
					<i class='fa {{#if this.favorited}}fa-heart red-text{{else}}fa-heart-o pink-text{{/if}}' aria-hidden="true"></i>
	        	</a>
			
	          	<a data-article-id={{id}} class="upvote blue-grey-text"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	          	<div class="vote-chip chip">{{votes}}</div>
	          	<a data-article-id={{id}} class='downvote blue-grey-text'><i class="fa fa-chevron-down" aria-hidden="true"></i></a>

		        <a data-article-id="{{id}}" class='delete black-text'><i class="fa fa-times" aria-hidden="true"></i></a>
	        
	        </div>
		    
	    </div>
	</div>

	{{/each}}

{{else}}

	<div class="col s12">

	    <div class="card horizontal">
		    
	        <div class="card-content">

	        	<h4>There are currently no articles on file. Please click on the Scrape Articles button.</h4>

	        </div>
	    </div>
	</div>

{{/if}}


<script type="text/javascript">
	
//handle click events

	$(".favorite").click(function(){

		$id = $(this).data('article-id');
		
		if ($(this).data('favorited')) {
			$.post("/article/unfavorite/" + $id + "?_method=PUT").done((done)=>{
				$(this).data('favorited', false);
				$(this).children("i").toggleClass("fa-heart red-text fa-heart-o pink-text");
			});
		} else {
			$.post("/article/favorite/" + $id + "?_method=PUT").done((done)=>{
				$(this).data('favorited', true);
				$(this).children("i").toggleClass("fa-heart red-text fa-heart-o pink-text");
			});;
		}
	});

	$(".upvote").click(function(){

		$id = $(this).data('article-id');

		$.post('/article/upvote/' + $id + '?_method=PUT').done((done)=>{
				window.location.href = "/articles";
			});;

	});

	$(".downvote").click(function(){

		$id = $(this).data('article-id');

		$.post('/article/downvote/' + $id + '?_method=PUT').done((done)=>{
				window.location.href = "/articles";
			});

	});

	$(".delete").click(function(){

		$id = $(this).data('article-id');
		

		$.post('/article/delete/' + $id + '?_method=DELETE').done((success)=>{
			$('#card'+$id).remove();
		}).fail((err)=>{
			if(err) alert(`Something went wrong\n${err}`);
		});

	});

</script>