{{#if articles}}
	{{#each articles}}

	<div class="col s12" id='card{{id}}'>

	    <div class="card horizontal grey lighten-5">
		    
	        <div class="card-content article-content black-text">
	          	
	          	<a class='grey-text text-darken-4' href={{link}} target="_blank"><h4 class='headline'>{{title}}</h4></a>
	          	<p class='grey-text'>{{source}}</p>
	          	
	        </div>
	        <div class="card-action card-stacked">
	        	<a data-article-id={{id}} class="favorite" data-favorited="{{favorited}}">
					<i class='red-text fa {{#if this.favorited}}fa-heart {{else}}fa-heart-o text-accent-3{{/if}}' aria-hidden="true"></i>
	        	</a>
			
	          	<a data-article-id={{id}} class="upvote blue-grey-text"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
	          	<div class="vote-chip chip">{{votes}}</div>
	          	<a data-article-id={{id}} class='downvote blue-grey-text'><i class="fa fa-chevron-down" aria-hidden="true"></i></a>

		        <a data-article-id="{{id}}" class='delete orange-text text-darken-2'><i class="fa fa-times" aria-hidden="true"></i></a>
	        
	        </div>
		    
	    </div>
	</div>

	{{/each}}

{{else}}

	<div class="col s12">

	    <div class="card horizontal">
		    
	        <div class="card-content">

	        	<h4>There are currently no articles on file. Please click on the Scrape Articles button.</h4>

	        </div>
	    </div>
	</div>

{{/if}}


<script type="text/javascript">
	
//handle click events

	$(".favorite").click(function(){

		$id = $(this).data('article-id');
		
		if ($(this).data('favorited')) {
			$.post("/article/unfavorite/" + $id + "?_method=PUT").done((done)=>{
				$(this).data('favorited', false);
				$(this).children("i").toggleClass("fa-heart fa-heart-o text-accent-3");
			});
		} else {
			$.post("/article/favorite/" + $id + "?_method=PUT").done((done)=>{
				$(this).data('favorited', true);
				$(this).children("i").toggleClass("fa-heart fa-heart-o text-accent-3");
			});;
		}
	});

	$(".upvote").click(function(){

		$id = $(this).data('article-id');
		$votes = parseInt($('#card'+$id).find('.vote-chip').text());

		$.post('/article/upvote/' + $id + '?_method=PUT').done((done)=>{
				$votes++;
				$('#card'+$id).find('.vote-chip').text($votes);
			});;
	});

	$(".downvote").click(function(){

		$id = $(this).data('article-id');
		$votes = parseInt($('#card'+$id).find('.vote-chip').text());

		$.post('/article/downvote/' + $id + '?_method=PUT').done((done)=>{
				$votes--;
				$('#card'+$id).find('.vote-chip').text($votes);
			});
	});

	$(".delete").click(function(){

		$id = $(this).data('article-id');
		

		$.post('/article/delete/' + $id + '?_method=DELETE').done((success)=>{
			$('#card'+$id).remove();
		}).fail((err)=>{
			if(err) alert(`Something went wrong\n${err}`);
		});

	});

</script>