{{#if favorites}}

	{{#each favorites}}
	<div class="col s12" id='card{{id}}'>

	    <div class="card horizontal">
		    
	        <div class="card-content headline">
	          	<h4>{{title}}</h4>
	          	<a href={{link}} target="_blank">{{link}}</a>
	        </div>
	        <div class="card-action">
	        	<a data-article-id={{id}} class="favorite" data-favorited="{{favorited}}">
					<i class='fa {{#if this.favorited}}fa-heart{{else}}fa-heart-o{{/if}}' aria-hidden="true"></i>
	        	</a>
	        	<div class='card-stacked'>
		          	<a data-article-id={{id}} class="upvote"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
		          	<a data-article-id={{id}} class='downvote'><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
		        </div>
		        <div class="chip">{{votes}}</div>
		        <div class="chip">
		        	<a data-article-id="{{id}}" class='view-notes'>Notes&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
		        </div>
	        </div>
		    
	    </div>
	</div>

	{{/each}}

{{else}} 

<div class="col s12">

    <div class="card horizontal">
	    
        <div class="card-content">

        	<h4>You currently have no favorited articles. Please add some to favorites</h4>

        </div>
    </div>
</div>

{{/if}}

<div class="modal" id="notes-modal">

	<div class="modal-content">

		<div id="note-cards"></div>

		<h4>Add/Update Note</h4>

		<div class="row">
		    <form class="col s12" id="new-note-form" data-article-id=''>
		      	<div class="row">
			      	<div class="input-field col s12">
			          	<input id="note-title" type="text" class="validate">
			          	<label for="note-title">Title</label>
			        </div>
		        	<div class="input-field col s12">
		          		<textarea id="note-text" class="materialize-textarea"></textarea>
		          		<label for="note-text">Content</label>
		        	</div>
		        	<a class="btn waves-effect waves-light" id='note-submit-btn' data-article-id=''>
		        		Submit&nbsp;<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					</a>
		      	</div>
		    </form>
		</div>

	</div>

	<div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-light btn-flat">Close&nbsp;<i class="fa fa-window-close-o" aria-hidden="true"></i></a>
    </div>

</div>

<script type="text/javascript">

	function displayNotes(article){

		$wrapper = $("#note-cards");

		$wrapper.empty();

		$articleId = article._id;
		$notes = article.notes;

		if($notes) {

			$notes.forEach((note)=>{

				var card = $('<div>').addClass('col s12').attr('id', 'card' + note._id);
				var horizontalCard = $('<div>').addClass('card horizontal').appendTo(card);

				var contentWrapper = $('<div>').addClass('card-content').appendTo(horizontalCard);
				var headlineText = $('<h4>').text(note.title).appendTo(contentWrapper);

				var contentText = $('<div>').text(note.content).attr('id', 'content' + note._id).appendTo(contentWrapper).hide();
				
				var cardAction = $('<div>').addClass('card-action').appendTo(horizontalCard);
				
				var viewNote = $('<a>').addClass('view-note').attr('data-article-id', $articleId).attr('data-note-id', note._id).text('View Note ').appendTo(cardAction);
				var viewIcon = $('<i>').addClass('fa fa-eye').attr('aria-hidden', true).appendTo(viewNote);

				var hideNote = $('<a>').addClass('hide-note').attr('data-article-id', $articleId).attr('data-note-id', note._id).text('Hide Note ').appendTo(cardAction).hide();
				var hideIcon = $('<i>').addClass('fa fa-eye-slash').attr('aria-hidden', true).appendTo(hideNote);

				var updateNote = $('<a>').addClass('update-note').attr('data-article-id', $articleId).attr('data-note-id', note._id).text('Hide Note ').appendTo(cardAction).hide();
				var updateIcon = $('<i>').addClass('fa fa-eraser').attr('aria-hidden', true).appendTo(updateNote);

				var deleteNote = $('<a>').addClass('delete-note').attr('data-article-id', $articleId).attr('data-note-id', note._id).text('Delete ').appendTo(cardAction);
				var deleteIcon = $('<i>').addClass('fa fa-times').attr('aria-hidden', true).appendTo(deleteNote);

				card.appendTo($wrapper);

			});
		}

	}

	$(".favorite").click(function(){

		var $id = $(this).data('article-id');
		
		$.post("/article/unfavorite/" + $id + "?_method=PUT").done((done)=>{
			$('#card'+$id).remove();
		});
	});

	$(".upvote").click(function(){

		var $id = $(this).data('article-id');

		$.post('/article/upvote/' + $id + '?_method=PUT').done((done)=>{
				window.location.href = "/favorites";
			});;

	});

	$(".downvote").click(function(){

		var $id = $(this).data('article-id');

		$.post('/article/downvote/' + $id + '?_method=PUT').done((done)=>{
				window.location.href = "/favorites";
			});;

	});

	$('.view-notes').click(function(){

		var $id = $(this).data('article-id');

		$('#new-note-form').data('article-id', $id);
		$('#note-submit-btn').data('article-id', $id);


		$.get('/notes/'+$id).done((article)=>{
			
			displayNotes(article);

			$('#notes-modal').modal('open');
		});
	});

	$('#note-submit-btn').click(function(){

		var $id = $(this).data('article-id');
		var title = $('#note-title').val();
		var content = $('#note-text').val();

		$.post('/note/add/'+$id, {title, content}).done((res)=>{
			

			$('#note-title').val('');
			$('#note-text').val('').trigger('autoresize');
			$('#notes-modal').modal('close');

		});
	});

	$(document).on('click', '.view-note', function(){

		var $noteId = $(this).attr('data-note-id');
		
		$('#content' + $noteId).show();
		$('.view-note').hide();
		$('.hide-note').show();
	});

	$(document).on('click', '.hide-note', function(){

		var $noteId = $(this).attr('data-note-id');
		
		$('#content' + $noteId).hide();
		$('.view-note').show();
		$('.hide-note').hide();
	});

	$(document).on('click', '.update-note', function(){

		var $noteId = $(this).attr('data-note-id');
		
		$('#content' + $noteId).hide();
		$('.view-note').show();
		$('.hide-note').hide();
	});

	$(document).on('click', '.delete-note', function(){

		var $articleId = $(this).data('article-id');
		var $noteId = $(this).data('note-id');

		$.post('/note/delete/' + $articleId + "/" + $noteId + '?_method=DELETE').done((res)=>{
			$('#card' + $noteId).remove();
		});
	});

</script>